<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventhub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventHub">
        <activity android:name=".activities.ThankYou"></activity>
        <activity android:name=".admin.AdminView"></activity>
        <activity android:name=".activities.CustomerInfo" />
        <activity android:name=".admin.Admin" />
        <activity android:name=".recyclerview.PhotoRecycler" />
        <activity android:name=".recyclerview.DecoratorRecycler" />
        <activity android:name=".recyclerview.CatererRecycler" />
        <activity android:name=".activities.AddToCart" />
        <activity android:name=".recyclerview.VenueRecycler" />
        <activity
            android:name=".activities.Customer"
            android:label="Home" />
        <activity android:name=".activities.Login" />
        <activity android:name=".activities.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>